body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.screen {
  height: 50px;
  width: 120px;
  border: 1px solid black;

}

.btnBoard {
  width: 30px;
}

.keyboard {
  padding: 0;
  height: 120px;
  width: 120px;
  display: flex;
  flex-wrap: wrap;

}